<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <!-- 댓글 입력 -->
  <mapper namespace="com.suflower.mapper.ReplyMapper">
  	<insert id="insert">
		insert into tbl_reply(replyNo,boardNo,replyContent,replyWriter)
		values (seq_reply.nextval,#{boardNo},#{replyContent},#{replyWriter})  
  	</insert>
  	
  	<!-- 댓글 조회 -->
  	<select id="read" resultType="com.suflower.domain.ReplyVO">
  		select * from tbl_reply where replyNo=#{replyNo}
  	</select>
  	
  	<!-- 댓글 삭제 -->
  	<delete id="delete">
  		delete from tbl_reply where replyNo = #{replyNo}
  	</delete>
  	
  	<update id="update">
  		update tbl_reply set reply =#{reply},updatedate = sysdate where replyNo = #{replyNo}
  	</update>
  	
  	<select id="getListWithPaging">
  		select replyNo,boardNo,replyContent,replyWriter,replyDate,replyUpdateDate from tbl_reply
  		where boardNo = #{boardNo}
  		order by replyNo asc
  	</select>
  </mapper>
  
